/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
}
.section-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.section-subtitle {
  color: #131313;
  font-size: 2.5rem;

  font-weight: 700;
}

/* header styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav a {
  text-decoration: none;
}

.banner-text {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main section */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.teams {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 80px 70px;
}
.bolder {
  color: #131313;

  font-size: 2.5rem;
  font-weight: 700;
}
.lighter {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
}
.highlight {
  color: #ff900e;
  font-size: 2.5rem;
  font-weight: 700;
}

/* facts section */

.facts-card-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 20px;
}

.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 60px;
}
.card .section-subtitle {
  margin: 15px 0;
}

/* sponsors styles */

.sponsors {
  text-align: center;
}
.sponsor-container {
  display: flex;
  justify-content: space-evenly;
}
.sponsor-container img {
  max-width: 140px;
}

/* featured section styles */

.features {
  display: flex;
  margin-top: 100px;
  gap: 100px;
}
.feature-texts .feature-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-top: 30px;
}
.feature-texts > .section-subtitle {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.ten-year-badge h1 {
  color: #fff;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  
}
.ten-year-badge p {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.ten-year-badge {
  border-radius: 8px;
  background: #ff900e;
  max-width: 342px;
  padding: 45px 30px;
  margin: 0;
  position: relative;
  bottom: 123px;
}
.feature-img{
  margin-left: 70px;
  height: 80%;
}

/* responsive media queries for small devices */
@media screen and (max-width: 576px) {
  header {
    padding: 10px 10px;
    margin: 0;
  }
  nav,
  .teams {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
    padding: 10px 10px;
  }
  .teams-text {
    padding: 0 0px;
  }
  .facts-card-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    width: 342px;
    gap: 20px;
  }
  .card {
    padding: 30px 0px;
  }
  .sponsor-container img {
    max-width: 50px;
  }
  .features{
    flex-direction: column;
    
  }
  .feature-img{
    margin: 0;
    width: 374px;
  }
}

/* media queries for medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    flex-direction: column;
  }
  .teams {
    flex-direction: column-reverse;
  }
  header {
    padding: 10px 10px;
    margin: 0;
  }
  .teams-text {
    padding: 0 30px;
  }
  .facts-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 708px;
  }
  .sponsor-container img {
    max-width: 80px;
  }
  .feature-img{
    height: 500px;
  }
}
